version: "3.9"

services:

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - clickhouse
    environment:
      REDIS_ADDR: redis:6379
      CLICKHOUSE_ADDR: clickhouse:9000
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: kopsusenak

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      CLICKHOUSE_PASSWORD: kopsusenak
    volumes:
      - clickhouse_data:/var/lib/clickhouse

volumes:
  clickhouse_data: